/* Example style */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
    background-color: #f4f4f4;
}

#graph {
    margin: 20px;
    min-height: 800px;
    background-color: white;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


#base-node {
    padding: 10px;
    background-color: #e7e7e7; /* Light grey background */
    border: 1px solid #d4d4d4;
    border-radius: 4px; /* Rounded corners */
}

circle {
    stroke: #000;
    stroke-width: 1px;
}

text {
    font-family: Arial, sans-serif;
    font-size: 12px;
}
