body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh; 
    overflow-y: hidden; 
    display: flex; 
    flex-direction: column; 
    background-color: var(--white-bg-1);
}

#graph {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--white-bg-2);
    border: 2px solid var(--border-light);
    box-shadow: 0 4px 8px var(--shadow);
}

#base-node {
    padding: 10px;
    background-color: #e7e7e7; 
    border: 1px solid #d4d4d4;
    border-radius: 4px; 
}

circle {
    stroke: #000;
    stroke-width: 1px;
}

text {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: var(--white-text-1); /* Use variable for text color */
}

#utility-section {
    margin: 20px;
    background-color: var(--white-bg-2);
    border: 2px solid var(--border-light);;
    box-shadow: 0 4px 8px var(--shadow);
    flex-grow: 1; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    padding: 20px; 
    overflow-y: auto; 
}

#col-container {
    flex-basis: 30%; 
    text-align: center; 
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    color: var(--white-text-1);
    background-color: var(--button-bg);
    border: 1px solid var(--border-light);
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--shadow);
    transition: box-shadow 0.1s ease, transform 0.1s ease, border 0.1s ease, background-color 0.1s ease, color 0.1s ease;
}

button:active {
    box-shadow: 0 1px 2px var(--shadow);
    transform: translateY(2px);
}



[data-theme="dark"] {
    body {
        background-color: var(--dark-bg-1);
    }

    #graph, #utility-section {
        background-color: var(--dark-bg-2);
        border: 2px solid var(--border-dark);;
        box-shadow: 0 4px 8px var(--shadow); 
    }

    text, button {
        color: var(--dark-text-1);
    }

    button {
        color: var(--dark-text-1); 
        background-color: var(--button-bg);
        border: 1px solid var(--border-dark);
        box-shadow: 0 4px 8px var(--shadow);
    }
}
