/* Light Theme Colors */
:root {
    --dark-bg-1: #333333;
    --dark-bg-2: #1a1a1a;
    --dark-text-1: #f4f4f4;
    --border-dark: #444444;
    --button-bg-dark: #333333;
    --shadow: rgba(80, 80, 80, 0.3);
}

/* Dark Theme Colors */
[data-theme="light"] {
    --white-bg-1: #f4f4f4;
    --white-bg-2: #ffffff;
    --white-text-1: #333333;
    --border-light: #ccc;
    --button-bg-light: #ffffff;
    --shadow: rgba(0, 0, 0, 0.3);
}
